
<% @rooms.each do |room| %>

	

	<div class="room">
		<%= link_to room.title, room_path(room) %>

		<!-- if room.image is present, else show message -->
		<%= image_tag room.image(:large) %>

	</div>


<% end %>


<%= link_to "add a room", new_room_path %>